* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#616161;
    font-size: 20px;
}

a {
    color:#616161;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 10px 12px 600px 12px;
}

.main-nav ul {
    display: flex;
}
.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.signin-section{
    width: 320px;
    height: 380px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: cadetblue;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
}
.signin-section h3{
    color: black;
    text-align: center;
    font-size: 22px;
    margin-left: -25%;
    margin-bottom: 20px;
}
.signin-section p{
    margin-left: -46%;
    font-weight: bold;
    text-align: center;
    color: black;
}
.signin-section input{
    width: 70%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.signin-section input[type="text"], input[type="password"] {
    height: 25px;
    color: black;
    font-size: 16px;
    margin-left: 10%;
}
.signin-section input[type="submit"]{
    width: 25%;
    margin-left: 10%;
    margin-top: 20px;

}
/* Footer */
.footer{
    background: silver;
    color: #616161;
    font-size: 12px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width:800px){
    .container {
        width: 90%;
        max-width: 1100px;
        margin: auto;
        padding: 10px 12px 800px 12px;
    }
    .signin-section {
        margin-top: -10%;
        width: 50%;
        height: 50%;
    }
    .signin-section h3{
        margin-left: -20%;
        font-size: 35px;
    }
    .signin-section p{
        font-weight: bold;
        margin-left: -40%;
        font-size: 30px;
    }
    .signin-section input[type="text"], input[type="password"] {
        height: 35px;
        width: 80%;
        color: black;
        font-size: 25px;
        margin-left: 10%;
    }
    .signin-section input[type="submit"]{
        width: 35%;
        height: 10%;
        font-size: 25px;
        margin-left: 10%;
    }
}

@media(max-width:500px){
    .signin-section p{
        font-weight: bold;
        margin-left: -20%;
    }
    .signin-section input[type="text"], input[type="password"] {
        height: 20px;
        color: black;
        font-size: 13px;
        margin-left: 20%;
        width: 60%;
    }
    .signin-section input[type="submit"]{
        width: 20%;
        margin-left: 20%;
    }
}